@charset "UTF-8";

#wrap {
	width:1200px;
	margin:0 auto;
}

header {
	height:100px;
	background-color:#dddddd;
}

.contents > .user-box {
	width:400px;
}

.post-box {
	width:800px;
}

footer {
	height:70px;
	background-color:#dddddd;
}